##############################################################
#                                                            #
#         $$$$$$$\   $$$$$$\  $$\      $$\ $$$$$$$\          #
#         $$  __$$\ $$  __$$\ $$$\    $$$ |$$  __$$\         #
#         $$ |  $$ |$$ /  $$ |$$$$\  $$$$ |$$ |  $$ |        #
#         $$ |  $$ |$$$$$$$$ |$$\$$\$$ $$ |$$$$$$$  |        #
#         $$ |  $$ |$$  __$$ |$$ \$$$  $$ |$$  ____/         #
#         $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |$$ |              #
#         $$$$$$$  |$$ |  $$ |$$ | \_/ $$ |$$ |              #
#         \_______/ \__|  \__|\__|     \__|\__|              #
#                                                            #
#          DAMP - Docker, Apache, MariaDB, PHP               #
#                                                            #
##############################################################

services:
  web:
    build: .
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - damp_net

  db:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - damp_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - damp_net

volumes:
  db_data:

networks:
  damp_net:
